@use "sass:map";
@use "sass:math";

$border-width:                1px !default;
$border-width-map: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-radius:               8px !default;
$border-radius-map: (
  0: 0,                           //0
  1: math.div($border-radius, 2), //4px
  2: $border-radius,              //8px
  3: $border-radius * 1.5,       //12px
  4: $border-radius * 2,         //16px
  5: $border-radius * 3,         //24px
  6: $border-radius * 4,         //32px
  pill: $border-radius * 999,     //round
) !default;

$border-radius-none:          0 !default;
$border-radius-xs:            math.div($border-radius, 2) !default; // 4px
$border-radius-sm:            $border-radius * 1.5 !default; // 12px
$border-radius-md:            $border-radius * 2 !default; // 16px
$border-radius-lg:            $border-radius * 3 !default; // 24px
$border-radius-xl:            $border-radius * 4 !default; // 32px
$border-radius-pill:          $border-radius * 999 !default;
